node_modules/
.turbo/
.next/
.gradle/

*.log

.env
.env.*
!.env.example
!.env.*.example

apps/web/.next/
apps/web/mobile-www/
apps/web/android/app/build/
apps/web/android/.gradle/
apps/web/android/app/src/main/assets/
apps/web/android/app/src/main/res/xml/config.xml
apps/web/android/capacitor-cordova-android-plugins/
apps/web/ios/App/App/public/
apps/web/ios/App/App/capacitor.config.json
apps/web/ios/App/App/config.xml
apps/web/ios/capacitor-cordova-ios-plugins/
